*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html{
  width: 100vw;
  height: 100vh;
}

body{
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.containerAll{
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1, h2{
  color: #190b28;
}

.listContainer{
  width: 50%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerList{
  width: 100%;
  padding: 1rem;
  height: 2rem;
  background-color: rgb(193,140,252);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;

}

.taskCounter{
  font-size: 16px;
  border: none;
  border-radius: 6px;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  margin: 4px;
  background-color: #d0bde6;
  background-color: #ad92cc;
}

.taskCounter:hover{
  cursor: pointer;
  background-color: #e5dbf0;
}


.itemsList{
  width: 100%;
  margin: 1rem;
  background-color:rgba(210, 208, 211, 0.404);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addItem{
  margin-right: -1rem;
  align-self: flex-end;
  padding: 0.6rem;
  background-color: rgba(214, 32, 59, 0.59);
  border: none;
  border-radius: 0.8rem;
}

.addItem:hover{
  background-color: rgb(247, 81, 80);
  cursor: pointer;
}

.taskItemContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.item{
  width: 80%;
  height: 3rem;
  background: white;
  padding: 0.2rem;
  margin-top: 1rem;
  border: 1px solid gray;
  border-radius: 8px;

}

.itemTitle{
  width: 90%;
  border: none;
  border-bottom: 1px solid gray;
  height: 2rem;
  padding-left: 1rem;
  resize: none;
}

.itemDescription{
  width: 90%;
  border: none;
  margin-bottom: 0.5rem;
  height: 4rem;
  padding-left: 1rem;
  resize: none;
}

.itemTitle:focus, .itemDescription:focus{
  outline: 0;
}

.buttonConfirm{
  width: 20%;
}